extends: default.liquid
---
<div >
  <h2>Blog!</h2>
  {% assign name = 'world' %}
  {% include "cobalt-tools/hello.liquid" %}
  <!--<br />-->
  <div>
    {% for post in posts %}
      <div>
        <h4>{{post.title}}</h4>
        <h4><a href="{{post.path}}">{{ post.title }}</a></h4>
      </div>
    {% endfor %}
  </div>
  {% include "cobalt-tools/goodbye.liquid" %}
</div>
